<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>

<key>CalendarIconDateStyle</key>
<string>color:#ddd7dc; font-size: 38px; margin-top: 0px; font-weight: 400; font-family: Avenir-Medium; margin-top: -5px; </string>

<key>CalendarIconDayStyle</key>
<string>opacity: 0; height: 0px; width: 0px; padding: -10px; position:absolute; margin-top: -100px;</string>

<key>BadgeStyle</key>
<string>color: #ddd7dc; font-size: 1em; font-weight: 400; border: 2px solid rgba(221,215,220,0.5); background: #1d171c; -webkit-border-radius: 1000px; padding: 0 6px; font-family: Avenir-Medium; 
</string>

<key>TimeStyle</key>
<string>color: yellow;</string>

<key>DockedIconLabelStyle</key>
<string>opacity: 0; font-family: Avenir-Medium;</string>

<key>UndockedIconLabelStyle</key>
<string>opacity: 0; font-family: Avenir-Medium;</string>

</dict></plist>
