<?xml version="1.0" encoding="UTF-8"?> <!-- Zen Theme by. Estoque - http://est0que.tistory.com/ --><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <array> <dict> <key>name</key> <string>n</string> <key>type</key> <string>edit</string> <key>label</key> <string>이름</string> <key>default</key> <string>Test</string> </dict> <dict> <key>name</key> <string>p</string> <key>type</key> <string>edit</string> <key>label</key> <string>전화번호</string> <key>default</key> <string>010-1234-1234</string> </dict> <dict> <key>name</key> <string>d</string> <key>type</key> <string>edit</string> <key>label</key> <string>메시지</string> <key>default</key> <string>eng test / 한글 테스트</string> </dict> </array> </plist>